<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/confetti_cuisine.css" />
    <title>Confetti Cuisine</title>
  </head>
  <body>
    <div id="nav">
      <div class="col-sm nav-align">
        <h1>Confetti Cuisine</h1>
      </div>
      <div class="col-sm nav-align">
        <a href="/"><span class="button">Home</span></a>
        <a href="/courses"><span class="button">Courses</span></a>
        <a href="/subscribers/new"><span class="button">Contact</span></a>
        <a href="/users"><span class="button">Users</span></a>
      </div>
    </div>
    <div class="login">
      <% if(loggedIn) { %>
      <p>
        Logged in as
        <a href="<%=`/users/${currentUser._id}`%>">
          <%= currentUser.fullName %>
        </a>
        <span class="log-out"><a href="/users/logout">Log out</a></span>
      </p>
      <% } else { %>
      <a href="/users/login">Log in</a>
      <% } %>
    </div>
    <div class="flashes">
      <% if(flashMessages) { %> <% if(flashMessages.success) { %>
      <div class="flash success"><%= flashMessages.success %></div>
      <% } else if(flashMessages.error) { %>
      <div class="flash error"><%= flashMessages.error %></div>
      <% } %> <% } %>
    </div>

    <div class="container"><%- body %></div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  </body>
</html>
